body{
    background-color: limegreen;
    color: blue;
    background-image: url("/img/maddog.jpg");
}
main{
    background-color:hotpink;
}
aside{
    background-color:turquoise;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
section img{
    width:100%;
    max-width:100%;
}
@media(min-width: 800px){
    main{
        width:60%;
        float:left;
        background-color:turquoise;
    }
    aside{
        width:30%;
        float:left;
        background-color:hotpink;
    }
}